<ion-header translucent>
  <ion-toolbar>
    <ion-title>ISOBAR</ion-title>
  </ion-toolbar>
</ion-header>,

<ion-content fullscreen>
  <ion-card>
    <ion-button size="small" style="margin-left:auto;margin-right:10px;"[routerLink]="['/home']" routerDirection ="forward">Home</ion-button>
    <ion-button size="small" style="margin-left:auto;margin-right:10px;"[routerLink]="['/isobar']" routerDirection ="forward">Isobars</ion-button>
    <ion-button size="small" style="margin-left:auto;margin-right:10px;"[routerLink]="['/fronts']" routerDirection ="forward">Fronts</ion-button>

    <img src="http://todaysworld1.edco.ie/upload/5059b424696e8.jpg"/>
    <ion-card-header>

      <ion-card-subtitle>Isobar</ion-card-subtitle>
      <ion-card-title>why so important?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Iso bars are the thin lines on a wether chart as seen in the above photo. Isobars can repersent how stongs winds are going to be depending on how close the lines are and where they are on the map.
      When the lines are close that means the winds are gong to be strong when the lines are far apart that means the wind will be light .
      the wind uselly flows along side the isobar so depending in which direction the bars are faces means which the wind is blowing
      <br>
  
    </ion-card-content>
  </ion-card>
</ion-content>
